* {
    font-family:'Raleway';
}

#navbar img{
    width: 50px;
}

#navbar {
    justify-content: space-between;
}

#navbar a:hover {
    color: black;
}

header {
    border-bottom: 1px solid #ccc;
}

footer {
  text-align: center;
  background-color: #353E48;
  color: #FFF;
  padding: 30px;
  width: 100%;
}

.content-wrapper {
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#search-container {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 50px;
    text-align: center;
}

#search-container form {
    width: 50%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

#equipaments-container{
    padding: 50px;
}

#equipaments-container .card{
    margin: 5px;
    padding: 0%;
    border-radius: 10px;
    width: 354px;
}

.msg {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#equipament-create-container {
  padding: 30px
}

#equipament-create-container label {
  font-weight: bold;
}

#equipament-create-container input,
#equipament-create-container select,
#equipament-create-container textarea {
  font-size: 12px;
}

#image-container,
#info-container {
  margin-top: 30px;
}

#image-container img {
  border-radius: 10px;
}

#info-container h1 {
  font-size: 36px;
  font-weight: 900;
}

#info-container p {
  margin: 0;
  font-size: 14px;
  display: flex;
}

#info-container h3,
#description-container h3 {
  font-size: 20px;
  font-weight: bold;
}

#info-container ion-icon {
  font-size: 20px;
  color: #F2A340;
  margin-right: 5px;
}

#info-container #equipament-submit {
  margin: 20px 0;
}

#items-list {
  list-style: none;
  padding-left: 0;
}

#items-list li {
  display: flex;
}

#description-container {
  margin-top: 30px;
}
.img-preview {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
}