* {
    font-family:'Raleway';
}

#navbar img{
    width: 50px;
}

#navbar {
    justify-content: space-between;
}

#navbar a:hover {
    color: black;
}

header {
    border-bottom: 1px solid #ccc;
}

footer {
  text-align: center;
  background-color: #353E48;
  color: #FFF;
  padding: 30px;
  width: 100%;
}

.content-wrapper {
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#search-container {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    padding: 50px;
    text-align: center;
}

#search-container form {
    width: 50%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

#equipaments-container{
    padding: 50px;
}

#equipaments-container .card{
    margin: 5px;
    padding: 0%;
    border-radius: 10px;
    width: 354px;
}